<header id="header">

    <div class="d-flex flex-column">
  
      <div class = "profile">
        <div class = profile-image></div>
        <h1 class="profile-name" href="#">Arnav khanna</h1>
        <!--here we will add the icon apis-->
        <div class = social-links>
          <a class="navbar-brand" href="#">1</a>
          <a class="navbar-brand" href="#">6</a>
          <a class="navbar-brand" href="#">2</a>
          <a class="navbar-brand" href="#">3</a>
          <a class="navbar-brand" href="#">3</a>
        </div>
      </div>
  
      <nav class = "navbar">
        <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="navbar-brand" href="#">About</a>
        <a class="navbar-brand" href="#">Resume</a>
        <a class="navbar-brand" href="#">Portfolio</a>
        <a class="navbar-brand" href="#">Services</a>
        <a class="navbar-brand" href="#">Contacts</a>
      </nav>
      
    </div>
  </header>