<header id="header">
   <div class="d-flex flex-column">  
      <div class = "profile">
        <div class = profile-image>
          <img src='../../assets/img/Profilepic.jpeg' alt="" class="img-fluid rounded-circle">
        </div>     
        <h1 class="profile-name" href="#">Arnav khanna</h1>
        <!--here we will add the icon apis-->
        <div class = social-links>
          <a class="social-brand" href="https://www.facebook.com/arnav.khanna.524/"></a>
          <a class="social-brand" href="#"></a>
          <a class="social-brand" href="#"></a>
          <a class="social-brand" href="#"></a>
        </div>
      </div>
      <nav class = "navbar">
        <a class="navbar-brand" href="#" routerLink="/home" routerLinkActive="active" (click)="scrollToTop()"><span>Home</span></a>
        <a class="navbar-brand" href="#" routerLink="/about" routerLinkActive="active"><span> About</span></a>
        <a class="navbar-brand" href="#"><span> Resume</span></a>
        <a class="navbar-brand" href="#"><span> Portfolio</span></a>
        <a class="navbar-brand" href="#" (click)="scrollToTop()"><span> Services</span></a>
        <a class="navbar-brand" href="#" routerLink="/contacts" routerLinkActive="active"><span> Contact</span>s</a>
      </nav>    
    </div>
</header>
