#header{
    width: 300px;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    background-color:bisque;

}
.profile-image{
    background:rgb(30, 223, 197);
    width: 120px;
    height: 120px;
    margin: 15px auto;
}
.profile-name{
    text-align: center;
}
.social-links{
    display:grid;
    grid-auto-flow: column;
    width: 50%;
    margin: 0 auto;
    grid-gap: 10px;
}
.navbar{
    display: flex ;
    flex-direction: column;
    padding: 30px 0 0 0;
    align-content: space-between;
    align-items: stretch;
}
.navbar-brand:hover{
    color: red;
}
