<div class = "about-container">
    <div class = "about-content">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla similique illum, corporis labore aperiam, commodi reprehenderit iusto, ducimus repellat nobis quam beatae at quaerat sapiente ipsum temporibus voluptatem minus laboriosam.</p>
    </div>
    <div class = "about-row">
        <div class = about-image>
            <img src='../../assets/img/Pic1.jpg' alt="" class ="image">
        </div>

        <div class = "about-content2">
            <h1>UI/UX Designer & Web Developer.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, minus</p>
            <div class = "grid-container">
                <div class="grid-item"><Strong>Birthday:</Strong> 16 Jan 2003</div>
                <div class="grid-item"><Strong>Age:</Strong>20</div>
                <div class="grid-item"><strong>Website:</strong> www.example.com</div>
                <div class="grid-item"><Strong>Degree:</Strong> bachelors</div>
                <div class="grid-item"><strong>Phone:</strong> +9319600244</div>
                <div class="grid-item"><strong>Emailone:</strong> arnavktisgmail.com</div>
                <div class="grid-item"><strong>City:</strong> New Delhi, India</div>
                <div class="grid-item"><strong>Freelance:</strong> Available</div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nihil molestias eaque voluptatem nulla veniam ducimus adipisci delectus praesentium repudiandae eos, accusamus, necessitatibus porro reprehenderit, aperiam impedit. Velit, asperiores atque.Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, sit aliquam commodi rem unde ab nobis dolorem possimus nam mollitia quia consequuntur autem eos provident obcaecati aperiam. Nesciunt, omnis laboriosam!</p>
        </div>
        
    </div>
</div>
