<div class = "about-container">
    <div class = "about-content">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla similique illum, corporis labore aperiam, commodi reprehenderit iusto, ducimus repellat nobis quam beatae at quaerat sapiente ipsum temporibus voluptatem minus laboriosam.</p>
    </div>
    <div class = "about-row">
        <div class = "about-image">
            <img src='../../assets/img/Pic1.jpg' alt="" class ="image">
        </div>

        <div class = "about-content2">
            <h1>UI/UX Designer & Web Developer.</h1>
            <p class = "about-para2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur earum temporibus porro iste cum molestias aliquid molestiae commodi reprehenderit odit odio obcaecati cupiditate, et fugiat aperiam! Ad odit veniam harum.</p>
            <div class = "grid-container">
                <div class="grid-item"><Strong>Birthday:</Strong> 16 Jan 2003</div>
                <div class="grid-item"><Strong>Age:</Strong>20</div>
                <div class="grid-item"><strong>Website:</strong> www.example.com</div>
                <div class="grid-item"><Strong>Degree:</Strong> Bachelors</div>
                <div class="grid-item"><strong>Phone:</strong> +9319600244</div>
                <div class="grid-item"><strong>Emailone:</strong> arnavktisgmail.com</div>
                <div class="grid-item"><strong>City:</strong> New Delhi, India</div>
                <div class="grid-item"><strong>Freelance:</strong> Available</div>
            </div>
            <p class = "about-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quasi minus cumque exercitationem neque placeat ea similique. Reprehenderit natus laboriosam voluptatum quidem, excepturi, impedit quae nihil fuga non corporis exercitationem?</p>
        </div>
    </div>
</div>

