.about-container{
    margin-left: 300px;
}
.about-content{
    padding: 30px;
}
.about-content h1{
    font-size: 32px;
    font-weight: bold;
    color: rgb(218, 223, 247);
}
.about-content p{
    color: rgb(255, 255, 255);
} 
.about-row{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    display: flex;
}
.image:hover{
    margin-left: -10px;
    margin-top: -10px;
    width: 369px;
    height: 369px;
    transition: 0.7s;
    box-shadow: .5px .5px 20.5px 1.5px #dbe394;
}
.image{
    border-radius: 5%;
    width:344px;
    height:344px;
}
.about-content2{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.grid-container{
    padding-bottom: 30px;
    display: grid;
    gap: 50x, 100px;
    justify-content: start;
    grid-template-columns: 223px 229px;
    grid-template-rows: 42px 42px 42px;
    color: rgb(255, 255, 255);
}
.about-content2 h1{
    font-size: 28px;
    font-weight: bold;
    color: rgb(218, 223, 247);
}
.about-content2 p{
    color: rgb(255, 255, 255);
}

//MEDIA QUERIES
@media (max-width:1199px) {
    .about-row{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .about-container{
        justify-content: center;
        align-items: center;
        transition: 0.7s;
        margin-left: 00px;
    }
    .image{
        transition: 0.7s;
        width:550px;
        height:550px;
        border-radius: 5%;
    }
    .image:hover{
        margin-left: -10px;
        margin-top: -10px;
        width:565px;
        height:565px;
        transition: 0.7s;
        box-shadow: .5px .5px 20.5px 1.5px #dbe394;
    }
    .about-content2{
        display: flex;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        transition:0.7s;
    }
    .grid-container{
        grid-template-columns: 263px 247px ;
        grid-template-rows: 42px 42px 53px;
        transition:0.7s;
    }
    .about-para,
    .about-para2 {
        width:550px;
    }
}

@media(min-width:1199px){
    .image:hover{
        margin-left: -10px;
        margin-top: -10px;
        width: 369px;
        height: 369px;
        transition: 0.7s;
        box-shadow: .5px .5px 20.5px 1.5px #dbe394;
    }
    .image{
        border-radius: 5%;
        width:344px;
        height:344px;
        transition: 0.7s;
    }
    .about-row,
    .about-container,
    .grid-container,
    .about-content2,
    .about-para,
    .about-container{
        transition:0.7s;
        scroll-behavior: smooth;
    }
}
/*mobile media query*/

@media(max-width:480px){
    .image{
        transition: 0.7s;
        width:350px;
        height:350px;
        border-radius: 5%;
    }
    .image:hover{
        transition: 0.7s;
        width:350px;
        height:350px;
        border-radius: 5%;
    }
    .about-content2{
        display: flex;
        padding-top: 30px;
        padding-right: 0px;
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
        transition:0.7s;
    }
    .about-content2 h1{
        font-size: 20px;
        font-weight: bold;
    }
    .grid-container{
        grid-template-columns: 305px;
        grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
        justify-items: left;
        padding-bottom: 10px;
    }
    .about-para,
    .about-para2 {
        width:350px;
    }
}


