.about-container{
    margin-left: 300px;
}
.about-content{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
}
.about-content h1{
    font-size: 32px;
    font-weight: bold;
    color: rgb(9, 16, 53);;
}
.about-row{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    display: flex;
}
.image{
    width:344px;
    height:344px;
}
.about-content2{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

}
.grid-container{
    padding-right: 30px;
    padding-left: 10px;
    padding-bottom: 30px;
    display: grid;
    gap: 50x, 100px;
    justify-content: start;
    grid-template-columns: 300px 300px ;
    grid-template-rows: 42px 42px 42px;
}

.about-content2 h1{
    font-size: 32px;
    font-weight: bold;
    color: rgb(9, 16, 53);;
}
