.certificate_container{
    margin-left: 300px;
}
.certificate_content{
    padding: 30px;
}
.certificate_content h1{
    font-size: 32px;
    font-weight: bold;
    color: rgb(218, 223, 247);
}
.certificate_content p{
    color: rgb(255, 255, 255);
} 