<div class = "certificate_container">
    <div class = "certificate_content">
        <h1>Certifications</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla similique illum, corporis labore aperiam, commodi reprehenderit iusto, ducimus repellat nobis quam beatae at quaerat sapiente ipsum temporibus voluptatem minus laboriosam.</p>
    </div>
    <app-carousel></app-carousel>
    <div class = "certificate_content2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nisi voluptatem possimus voluptate quos corrupti, dolor culpa sed asperiores nesciunt soluta architecto eaque nemo optio magnam unde neque amet id.</p>
    </div>
</div>
