<div class="skill-contianer">
    <div class="skills-content">
        <h1>Skills</h1>
        <p>Currently, I am engaging in coding challenges, reading programming books, contributing to open-source projects, and 
            actively practicing programming and debugging. I am attending tech meetups, workshops, and conferences, and joining 
            developer communities to stay updated on industry trends and best practices. I am focusing on learning new programming languages and tools to enhance my skills. I am also reading and understanding 
            code written by experienced developers and writing and sharing my own code to accelerate my learning process.</p>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <img src= 'https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=openjdk&logoColor=white' class="image">
        </div>
        <div class="grid-item">
            <img src= 'https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white' class="image">
        </div>
        <div class="grid-item">
            <img src='https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white' class="image">
        </div>
        <div class="grid-item">
            <img src='https://img.shields.io/badge/JavaScript-323330?style=for-the-badge&logo=javascript&logoColor=F7DF1E' class="image">
        </div>
        <div class="grid-item">
            <img src='https://img.shields.io/badge/Python-14354C?style=for-the-badge&logo=python&logoColor=white' class="image">
        </div>
        <div class="grid-item">
             <img src='https://img.shields.io/badge/Angular-DD0031?style=for-the-badge&logo=angular&logoColor=white' class="image">
        </div>
        <div class="grid-item">
            <img src='https://img.shields.io/badge/Spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white' class="image">
        </div>
        <div class="grid-item">
            <img src='https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white' class="image">
        </div>
        <div class="grid-item">
            <img src='https://img.shields.io/badge/ReactJs-61DAFB?style=for-the-badge&logo=react&logoColor= white' class="image">
        </div>
</div>
