.skill-contianer{
    margin-left: 300px;
    background: #f5f8fd;
    padding-left: 20px;
    padding-right: 20px;
    padding: 60px 0;
    overflow: hidden;
}
.skills-content{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
}
.skills-content h1{
    font-size: 32px;
    font-weight: bold;
    color: rgb(9, 16, 53);;

}
.grid-container{
    padding-right: 30px;
    padding-left: 30px;
    display: grid;
    gap: 50x, 100px;
    justify-content: center;
    grid-template-columns: 307.5px 307.5px 300px;
    grid-template-rows: 207.5px 207.5px 200px;
}
.image{
    width: 300px;
    height: 200px;
    border-radius: 5.0%;
    box-shadow: .5px .5px 20.5px 1.5px #3d3c3f;
}

@media (max-width:1440px) {
    .skill-contianer{
        margin-left: 00px;
        transition: 0.7s;
    }
    .grid-container{
        transition: 0.7s;
        grid-template-columns: 319.5px 307.5px;
        grid-template-rows: 219.5px 219.5px 219.5px 219.5px;
    }
}
@media (min-width:1024px) {
    .skill-contianer{
        transition: 0.7s;
    }
}
@media only screen and (min-width: 375px) and (max-width: 767px){
    .skill-contianer{
        padding-top:30px;
        margin-left: 00px;
        transition: 0.7s;
    }
    .grid-container{
        transition: 0.7s;
        grid-template-columns: 176.5px 153.5px;
        grid-template-rows: 160.5px 160.5px 160.5px 160.5px;
    }
    .skills-content{
        padding-bottom: 30px;
    }
    .image{
        width: 150px;
        height: 125px;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .skill-contianer{
        padding-top:30px;
        margin-left: 00px;
        transition: 0.7s;
    }
    .grid-container{
        transition: 0.7s;
        grid-template-columns: 176.5px 153.5px;
        grid-template-rows: 160.5px 160.5px 160.5px 160.5px;
    }
    .skills-content{
        padding-bottom: 30px;
    }
    .image{
        width: 150px;
        height: 125px;
    }
}
