*{
    background: url('/assets/img/background-port.png');
    // background-position: fixed;
    background-size: cover;
    /* Set background to fixed position */
    background-attachment: fixed;
    /* Specify other background properties as needed */
    background-position:center;
}